
{erl_opts, [debug_info]}.

{deps_dir, ["deps"]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {lhttpc, ".*", {git, "git://github.com/oscarh/lhttpc.git", "master"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}}]}.
